#divLogin {
  display: block;
}

#divAdmin {
  display: none;
}

.my-custom-scrollbar {
  position: relative;
  height: all;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.star {
  cursor: pointer;
}

.star.selected {
  color: orange;
}